@charset "utf-8";

/* 레이아웃 서식 */

/* 로딩창 */
.loading {
  width: 100%; height: 100%;
  position: fixed;
  top: 0; left: 0;
  background: #fff;
  z-index:100;
}
.loading svg {
  position:absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background-attachment: fixed;
}
/* layout */
.gnb {
  position: fixed;
  left: 50%; top: 0;
  width: 100%; height: 100vh;
  z-index : 10;
  transform-origin: 48% 40px;
  transform: scale(0);
  transition: .5s;
}
.gnb > .nav_wrap {
  position:absolute;
  left: 50%; top: 0;
  transform:translateX(-50%);
  width: 100%; height: 20vh;
  background: #fff;
  z-index: 10;
}
.gnb > .g_bg {
  width: 100%; height: 100vh;
  backdrop-filter: blur(10px);
  position: absolute;
  left: 0; top: 0;
  z-index: 9;
}
.show {
  opacity: 1;
  transform: scale(1) translateX(-50%);
}
.gnb > .nav_wrap > ul {
  display:flex;
  justify-content: center;
  gap:80px;
  margin-top :70px;
}
.gnb > .nav_wrap > ul > li > a {
  width: 300px;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  font-family: 'Nanum Gothic',sans-serif;
  font-weight: bold;
}
.gnb > .nav_wrap > ul > li > a > span {
  -webkit-text-stroke-color: #748BDD;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  transition: background-size .5s cubic-bezier(0.50, 0.03, 0.45, 0.84);
  background-image: radial-gradient(circle farthest-corner at center center, #748BDD 0%, #748BDD 50%, transparent 60%);
  background-position: 50% 50%;
  background-size: 0% 0%;
}
.gnb > .nav_wrap > ul > li > a > span:hover {
  background-size: 180% 400%;
}
.intro {
  width: 100%;
  height: 200vh;
  overflow: hidden;
}

/* 인트로 스크롤 */
.scroll {
  width: 30px; height: 50px;
  position:relative;
  bottom: 100px; left: 50%;
  transform: translateX(-50%);
  border:2px solid #333;
  border-radius: 50px;
  text-align: center;
}
.scroll a::before {
  content:'';
  position: absolute;
  display:block;
  width: 6px; height: 6px;
  left: 42%; top: 0;
  background: #333;
  border-radius: 100%;
  animation: sdb_1 2s infinite;
}
.scroll a span:last-child {
  position: absolute;
  top: 0; left: 0;
  animation: sdb_2 2s infinite;
}
@keyframes sdb_1 {
  0% {
    transform : translate(0,0);
    opacity: 0;
  }
  40% {opacity: 1;}
  80% {
    transform : translate(0,40px);
    opacity: 0;
  }
  100% {opacity: 0;}
}
@keyframes sdb_2 {
  0% {
    transform : translate(0,60px);
    opacity: 0;
  }
  40% {opacity: 1;}
  80% {
    transform : translate(0,80px);
    opacity: 0;
  }
  100% {opacity: 0;}
}

/* profile layout */
#profile {
  width: 100%; height: 100vh;
  position: relative;
}
#profile .a_wrap {
  width: 1600px;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#profile .a_wrap .pic {
  position: relative;
}
#profile .a_wrap .pic img {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,.6);
  transition: .5s;
  filter: grayscale(1);
}
#profile .a_wrap .pic span {
  position: absolute;
  top: 85px; left: 290px;
  font-size: 20px;
  color:#5c5c5c;
  transform: rotate(90deg);
  letter-spacing: 6px;
  transition: .5s;
}
#profile .a_wrap .about {
  width: 48%;
  display:flex;
  flex-direction: column;
  gap:40px;
}
#profile .a_wrap .about > p {
  text-align: center;
  font-size: 32px;
  position: relative;
  color:#7e7e7e;
}
#profile .a_wrap .about > p span {
  cursor: pointer;
  position: relative;
  transform-origin: 50% 50%;
  transition: .3s;
}
#profile .a_wrap .about > p span::after {
  content:'';
  display:none;
  width: 110px; height: 2px;
  background: #333;
  animation: under .3s;
  position: absolute;
  bottom: -5px; left: 0;
}
@keyframes under {
  0% {width: 0;}
  100% {width: 110px;}
}
#profile .a_wrap .about > p span:hover {
  color:#333;
  font-size: 40px;
}
#profile .a_wrap .about > p span:hover::after {
  display:block;
}
.point1::before, .point2::before {
  content:'';
  display:block;
  width: 0; height: 0;
  border-top:15px solid #748BDD;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid transparent;
  position: absolute;
  top: -20px; left: 50%;
  transform: translateX(-50%);
  animation: arrow 1s infinite;
}
@keyframes arrow {
  0% {top: -20px;}
  100% {top: -10px;}
}
.spec {
  margin-top:60px;
}
.spec hr {
  color:#333;
}
.spec > .myself {
  margin-bottom: 20px;
}
.spec > .myself li{
  margin:20px 0;
}
.spec > .myself li:first-child .p01, .spec > .myself li:nth-child(2) .p01, .spec > .myself li:nth-child(3) .p01 {
  margin-right:49px;
}
.spec > .myself li:nth-child(5) {
  margin-left:100px;
}
.spec > .myself li:last-child .p01 {
  margin-right:38px;
}
.p01 {
  display: inline-block;
  padding:5px 10px;
  border-radius: 2px;
  background: #d1d1d1;
  color:#5c5c5c;
  margin-right:20px;
}
/* #ability > .ability */
.ability {text-align: center;}
.ability h3 {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: bold;
}
.ability ul {
  display:flex;
  justify-content: center;
  gap : 50px;
  align-items: center;
}
.ability ul li {
  position: relative;
}
.ability img {
  height: 40px;
  margin-bottom: 40px;
}
/* tap */
#tab {
  width: 100%; height: 100vh;
  position: relative;
}
#tab > ul {
  display: flex;
  justify-content: center;
  width: 1600px; height: 740px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding-top:30px;
  box-sizing: border-box;
  gap:60px;
  box-shadow: 0 0 5px rgba(0,0,0,.6);
  border-radius: 10px;
  background: #fff;
}
#tab > ul > li::after {
  content:'';
  display:block;
  height: 200px; width: 1px;
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  transform:translate(-30px,30px);
}
#tab > ul > li:first-child::after{display:none;}

#tab > ul > li > a{
  display:block;
  width: 250px; height: 156px;
  text-align: center;
  font-size: 22px;
  color:#748BDD;;
  position: relative;
  transform: translateY(33px);
  line-height: 156px;
  transition: .3s;
  background: #fff;
}
#tab > ul > li > a.active {
  transform: translateY(70px) scale(1.2);
  box-shadow: 0 2px 5px rgba(0,0,0,.6);
  background:#748BDD ;
  color:#fff;
  font-weight: bold;
  z-index: 10;
  border-radius: 15px;
}
  
#tab > ul > li > a img {width: 100px;}
#tab > ul > li .concept_wrap {
  width: 90%; height: 400px;
  position: absolute;
  left: 50%; top: 60%;
  transform: translate(-50%,-50%);
  padding:10px 50px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.2);
  background: #fff;
  display:none;
  z-index: 9;
}
#tab > ul > li:first-child .concept_wrap {display:block;}
#tab > ul > li > .concept_wrap > ul {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; height: 400px;
  margin:auto 0;
}
#tab > ul > li .concept_wrap > ul > li:first-child img {
  width: 300px;
  float:left;
  clear:both;
  margin-top:20px;
  display:block;
}
#tab > ul > li:nth-child(4) .concept_wrap > ul > li:first-child > img {
  width: 300px; height: 50px;
}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept {
  width: 600px;
  display:flex;
  flex-wrap:wrap;
  align-content: center;
}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept > div {
  width: 300px; height: 150px;
  margin:auto;
}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept > div h3 {
  font-size: 20px;
  font-weight: bold;
  padding:10px 0;
}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept > div > ul {
  display:flex;
  justify-content: center;
  gap:15px;
  align-items: center;
  height: 60px;
}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept > div > ul > li p {
  font-size: 14px;
}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept > div:first-child {
  float:left;
}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept > div:first-child > ul > li p > span {
  display:inline-block;
  width: 20px; height: 35px;
  border-radius: 20px;
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
}
.color01 {background: #CE403D;}
.color02 {background: #3B2120;}
.color03 {background: #DF8F9B;}
.color04 {background: #86CEE0;}
.color05 {background: #9DB75A;}
.color06 {background: #E29D70;}
.color07 {background: #FF384A;}
.color08 {background: #FFC371;}
.color09 {background: #5B86E5;}
.color10 {background: #002c5f;}
.color11 {background: #007FA8;}
.color12 {background: #000000;}
.color13 {background: #FFFFFF; border:1px solid #333;}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept > div:nth-child(2) {
  float:right;
}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept > div:last-child {
  width: 600px;
}
#tab > ul > li > .concept_wrap > ul > li:last-child > .concept > div:last-child p {
  line-height: 20px;
}

/* pub */
#pub {width: 100%; height: auto;}

#pub .pro {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.pro_bg1 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  width: 1600px; height: 600px;
  transition: 1s;
}
.pro_bg2 {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  width: 50px; height: 50px;
  border-radius: 50%;
  transition: .8s;
  opacity: .8;
}
#pub div:nth-child(2n-1) .pro_bg2 {left: 30%;}
#pub div:nth-child(2n) .pro_bg2 {right: 30%;}
#pub .pro .desc {width: 100%;}
#pub div .desc img {
  width: 800px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
#pub div:nth-child(2n-1) .desc img {left: 150px;}
#pub div:nth-child(2n) .desc img {right: 150px;}
#pub .pro .desc .desc_m {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
#pub div:nth-child(2n) .desc .desc_m {left: 23%;}
#pub div:nth-child(2n-1) .desc .desc_m {right:23%;}
#pub .pro .desc .desc_m .subject {
  border-bottom: .5px solid #333;
  padding-bottom: 15px;
}
#pub .pro .desc .desc_m .subject h3{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
#pub .pro .desc .desc_m .subject p {
  font-size: 14px;
  line-height: 24px;
}
#pub .pro .desc .desc_m ul:first-of-type {margin-bottom:40px;}
#pub .pro .desc .desc_m ul:first-of-type li {
  margin:20px 0;
  font-size: 18px;
}
#pub .pro .desc .desc_m ul:first-of-type li span {
  display:inline-block; 
  width:200px;
}

.p02 {font-weight: bold;}
#pub .pro .desc .desc_m ul:last-of-type {
  display:flex;
  justify-content: center;
  gap:30px;
}
#pub .pro .desc .desc_m ul:last-of-type li a {
  position: relative;
  display:block;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
#pub .pro .desc .desc_m ul:last-of-type li:hover a::after {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
#pub .pro .desc .desc_m ul:last-of-type li:hover a::before {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
#pub .pro .desc .desc_m ul:last-of-type a::after {
  display:block;
  position: absolute;
  top: 0; left: 0;
  width: 120px;
  padding:10px 0;
  border-radius: 20px;
  transition: 0.5s;
  transform: translateY(0) rotateX(0);
  border:1px solid #333;
  background:#fff;
  color: #333;
  opacity: 1;
}
#pub .pro .desc .desc_m ul:last-of-type a::before{
  content:'Click me!';
  display:block;
  position: relative;
  top: 0; left: 0;
  width: 120px;
  padding:10px 0;
  border-radius: 20px;
  transition: 0.5s;
  transform: translateY(-50%) rotateX(90deg);
  background: #333;
  color: #fff;
  opacity: 0;
}
#pub .pro .desc .desc_m ul:last-of-type li:first-child a::after {content:'StyleGuide';} 
#pub .pro .desc .desc_m ul:last-of-type li:nth-child(2) a::after {content:'Prototype';} 
#pub .pro .desc .desc_m ul:last-of-type li:last-child a::after{content:'Website';}


/* pro_bg2 배경 색상 */
.p1 {background:radial-gradient(544.22% 97.12% at 18.62% 31.23%, #d0483e 0%, #EFC150 100%);}
.p2 {background:radial-gradient(544.22% 97.12% at 18.62% 31.23%, #86CEE0 0%, #9DB75A 100%);}
.p3 {background:radial-gradient(544.22% 97.12% at 18.62% 31.23%, #ff4343 0%, #FFC371 100%);}
.p4 {background: radial-gradient(544.22% 97.12% at 18.62% 31.23%, #5B86E5 0%, #36D1DC 100%);}
.p5 {background: radial-gradient(544.22% 97.12% at 18.62% 31.23%, #000 0%, #434343 100%);}


/* aside contact */
.contact {
  position: fixed;
  right: 0; bottom: 50px;
  z-index: 8;
  transform: rotate(-90deg) translate(20px, 505px);
  transition: .5s;
  display:none;
}
aside.rotate {
  transform:rotate(0) translate(0,0);
}
.contact h2 {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color:#fff;
  width: 200px;
  padding:10px;
  border-radius: 15px 15px 0 0;
  background: radial-gradient(232.09% 83.67% at 71.05% 63.88%, #748BDD 0%, #CDD3EA 92.37%);
}
.contact h2::after {
  content:'';
  display:block;
  position: absolute;
  bottom: 0; left: 50%;
  transform: translateX(-50%);
  border:2px solid #fff;
  border-bottom: none;
  background: transparent;
  border-radius: 15px 15px 0 0;
  width: 90%; height: 80%;
}
.contact fieldset {
  width: 600px;
  height: 450px;
  border: 5px double #eee;
  background: url(../images/form_bg.jpg) no-repeat;
  background-size: cover;
  padding:20px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0,0,0,.6);
  border-radius: 0 20px 0 20px;
}
.contact fieldset p {
  margin-bottom: 20px;
}
.contact fieldset p:nth-of-type(1) {
  margin-top:30px;
}
.contact fieldset p textarea {
  width: 500px; height: 100px;
}
.contact fieldset p:nth-of-type(1) input, .contact fieldset p:nth-of-type(2) input {
  display:inline-block;
  height: 20px;
  margin-top:5px;
}
.contact fieldset p:last-of-type input {
  width: 150px;
  padding:10px 0;
  border-radius: 4px;
  background: #eee;
  color:#333;
  border:1px solid transparent;
  margin-right: 20px;
  font-family: 'Noto Sans KR',sans-serif;
  transition: .3s;
}
.contact fieldset p:last-of-type input:hover {
  background: #748BDD;
  color:#fff;
  border:1px solid #fff;
  box-sizing: border-box;
}
input::placeholder, textarea::placeholder {
  font-style: italic;
  font-size: 14px;
  font-family: 'Noto Sans KR',sans-serif;
}
input:focus, textarea:focus {box-shadow: 0 0 5px #748BDD inset;}
.contact fieldset legend {display:none;}

#design {
  width: 100%; height: 100vh;
  background: #eee;
}
#design .design_wrap {
  width: 1600px;
  height: 100%;
  margin:0 auto;
}